{% extends "reviews/base.html" %}

{% block title%} Review Detail {% endblock%}

{% block content %}
    {% comment %} <ul> {% endcomment %}
        {% comment %} {%  for review in reviews %} {% endcomment %}
            {% comment %} <li> {% endcomment %}
                <h1>(User Name: {{ review.user_name }}) </h1>
                <p>(Rating: {{review.rating}})</p>
                <p>(Text: {{review.review_text}})</p>
            {% comment %} <li> {% endcomment %}
        {% comment %} {% endfor %} {% endcomment %}
    {% comment %} </ul> {% endcomment %}
{% endblock%}